body {
  color: white;
}
.back {
  background-image: url(/images/fon.jpg);
  filter: blur(8px);
  height: 100%;
  width: 100%;
  float: left;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  flex-direction: column;
  z-index: 0;
}
.main {
  height: 100%;
  width: 100%;
  float: left;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  flex-direction: column;
  z-index: 1;
}
.socials {
  display: inline;
}
.social {
  color: white;
  font-size: 35px;
}
.buttons {
  margin-top: 10px;
  display: inline;
}
.projects {
  margin-top: 10px;
  display: grid;
  margin-bottom: 10px;
}
.donates {
  margin-top: 10px;
  display: grid;
  margin-bottom: 10px;
}
.ava {
  width: 10em;
  height: 10em;
  border-radius: 5.6em;
  margin-bottom: 15px;
}
.ad {
  background-color: black;
  height: 100%;
  width: 100%;
  float: left;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  letter-spacing: 1px;
  flex-direction: column;
  z-index: 2;
}
a {
  color: white;
}
a:hover {
  color: white;
}
