/* CSS files add styling rules to your content */
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Kr3st1k Simple Regular";
  src: url("../fonts/7f337657-6246-4162-9707-92e4ec130790%252Fkr3st1ksimple-regular-webfont.ttf");
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(24, 24, 24);
  font-family: "Kr3st1k Simple Regular";
  overflow: hidden;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (РЅРµ РїРѕРґРґРµСЂР¶РёРІР°РµС‚СЃСЏ) */
  -o-user-select: none; /* Opera Presto (РЅРµ РїРѕРґРґРµСЂР¶РёРІР°РµС‚СЃСЏ) */
  -webkit-user-select: none;
}


.fa-expand {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  transition: 0.1s;
}

.fa-expand:hover {
  transform: scale(1.2);
}
#links {
  position: absolute;
  display: flex;
  width: 100%;
  top: 1%;
  justify-content: center;
}
.links {
  background: -webkit-linear-gradient(45deg, #6b3a4d, #10a2d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%);
  margin-left: 10px;
  transition: 0.1s;
  cursor: pointer;
}

.links:hover {
  opacity: 1;
}
.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  -webkit-background-clip: text;
  font-size: 40px;
}

#main {
  width: 98vw;
  height: 98vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  transition: 1s;
}

.fixed-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 1000ms ease-in-out;
}

/*
=====
LEVEL 1. RESET STYLES
=====
*/

button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: "Kr3st1k Simple Regular";
  src: url("../fonts/kr3st1ksimple-regular-webfont.woff") format("woff"),
    url("../fonts/kr3st1ksimple-regular-webfont.ttf") format("opentype");
}

a {
  display: inline-block;
  text-decoration: none;
}

.link {
  color: inherit;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 2. MENU STYLES
=====
*/

/* menu */

.header {
  box-sizing: border-box;
  width: 100%;
  color: var(--colorBlack);

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;

  height: 0;
  transform: translate3d(0, -100%, 0);
  opacity: 0;

  display: flex;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;
}

.menu__list {
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  display: none;

  padding-top: 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__group {
  padding: 0.5rem 3rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: white;
}
#text_nickname {
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%), 0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%), 0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%), 0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 99px;
    color: white;
    transition: 1s;
    margin: auto;
    min-height: 99px;
  font-family: "Josefin Sans", sans-serif;
}
.menu__group_active {
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}

.menu__item {
  padding: 8px 25px;
  display: block;
}

/* hamburger */

.hamburger {
  position: relative;
  line-height: 1;
  padding-bottom: 0.5em;
}

.hamburger:before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: RGB(70, 130, 180);
  border-radius: 50%;

  position: absolute;
  bottom: -55px;
  left: -35px;
}

.hamburger__button {
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburger__button:before,
.hamburger__button:after,
.hamburger__label {
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;

  position: absolute;
  left: 0;
}

.hamburger__button:before,
.hamburger__button:after {
  content: "";
}

.hamburger__button:before {
  top: 0;
}

.hamburger__button:after {
  bottom: 0;
}

.hamburger__button:focus {
  outline: none;
}

.hamburger__label {
  margin-top: -0.1em;
  top: 50%;
}

/* activated state */

.js-menu_activated {
  overflow: hidden;
}

.js-menu_activated .menu {
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menu_activated .hamburger:before {
  width: 100vh;
  height: 100vh;
  background: -webkit-linear-gradient(45deg, #6b3a4d, #10a2d8);
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu__list {
  display: block;
}

.js-menu_activated .hamburger__button:before {
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu {
  transition: opacity 0.2s ease-out;
}

.js-menu_activated .menu {
  will-change: opacity;
  transition-duration: 0.2s;
  transition-delay: 0.3s;
}

.hamburger:before {
  will-change: width, height;
  transition: transform 0.3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width 0.3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height 0.3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before {
  transition-duration: 1s;
}

.hamburger__button:before,
.hamburger__button:after {
  transition-property: transform;
}

.hamburger__button:before,
.hamburger__button:after,
.hamburger__label {
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

/* test some css
*/
.text-editor-wrap {
  display: block;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 30px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 300px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.45em;
  line-height: 1.4em;
  font-weight: 500;
  text-align: left;
  overflow: auto;
  resize: auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.text-body::-webkit-scrollbar, .text-editor-wrap::-webkit-scrollbar-thumb {
  width: 9px;
  background-color: rgba(0, 0, 0, 0.85);
}
.text-body::-webkit-scrollbar-thumb, .text-editor-wrap::-webkit-scrollbar-thumb  {
  background: #525252;
  border-radius: 15px;
}
.text-body::-webkit-scrollbar-thumb:hover {
  background: #525252;
  border-radius: 15px;
  transition: 1s;
}

.hamburger__label {
  transition-property: transform, opacity;
}
/* Adding CSS manually is only necessary in JSFiddle,
   where CSS can't be inserted into the <head> */
.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
